DesignPatterns/.vs/
DesignPatterns/DesignPatterns/obj/Debug/
DesignPatterns/DesignPatterns.Console/obj/Debug/
DesignPatterns/DesignPatterns/bin/Debug/
DesignPatterns/DesignPatterns.Console/bin/Debug/
